@import url("https://fonts.googleapis.com/css?family=PT+Sans:400,700");
@import url("https://fonts.googleapis.com/css?family=PT+Serif:400,700");
@import url("https://fonts.googleapis.com/css?family=Fira+Sans:300,300i,400,500,700");
html {
  font-size: 16px; }

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: "Fira Sans", sans-serif;
  font-size: 1rem; }

div,
section,
header,
article,
aside,
footer,
main,
p,
a,
span,
button,
label,
input,
textarea {
  font-size: 1rem;
  font-family: "Fira Sans", sans-serif;
  box-sizing: border-box; }

div,
section,
header,
article,
aside,
footer,
main {
  font-family: "Fira Sans", sans-serif;
  margin: 0; }

p,
a,
span,
button {
  font-size: 1rem;
  line-height: 1.414rem;
  font-weight: 400;
  margin: 0; }

a,
button {
  padding: 0.75rem 1.15rem;
  border: 1px solid #ccc;
  background: #ccc;
  color: rgba(0, 0, 0, 0.7);
  text-decoration: none;
  margin: 0;
  display: inline-block;
  line-height: 1.414rem;
  font-size: 1rem;
  cursor: pointer; }
  a:hover,
  button:hover {
    background: #bbb;
    color: rgba(0, 0, 0, 0.9); }

input,
textarea {
  padding: 0.75rem 1rem;
  border: 1px solid #ccc;
  font-size: 1rem;
  line-height: 1.414rem;
  color: rgba(0, 0, 0, 0.5);
  transition: all 100ms ease-in-out; }
  input:focus,
  textarea:focus {
    outline: none;
    border: 1px solid #4a2ce2; }

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 1rem 0;
  font-weight: 500; }

h1 {
  font-size: 2.75rem;
  line-height: 3.8885rem;
  font-weight: 700; }

h2 {
  font-size: 2.25rem;
  line-height: 3.1815rem;
  font-weight: 700; }

h3 {
  font-size: 1.8rem;
  line-height: 2.5452rem;
  font-weight: 500; }

h4 {
  font-size: 1.45rem;
  line-height: 2.0503rem;
  font-weight: 500; }

h5 {
  font-size: 1.15rem;
  line-height: 1.6261rem;
  font-weight: 500; }

h6 {
  font-size: 1rem;
  line-height: 1.414rem;
  font-weight: 500; }

.container {
  width: 70%;
  margin: 0 auto;
  height: 100%;
  box-sizing: border-box;
  position: relative; }

.semibold {
  font-weight: 500; }

.goBackButton {
  position: absolute;
  top: 1rem;
  left: -100px; }

@keyframes slideOut {
  25% {
    opacity: 0.5;
    transform: translateZ(-500px); }
  75% {
    opacity: 0.5;
    transform: translateZ(-500px) translateX(-200%); }
  100% {
    opacity: 0.5;
    transform: translateZ(-500px) translateX(-200%); } }
@keyframes slideIn {
  0%,
  25% {
    opacity: 0.5;
    transform: translateZ(-500px) translateX(200%); }
  75% {
    opacity: 0.5;
    transform: translateZ(-500px); }
  100% {
    opacity: 1;
    transform: translateZ(0) translateX(0); } }
.slide-exit-active {
  animation: slideOut 400ms both ease-in-out; }

.slide-enter-active {
  animation: slideIn 400ms both ease-in-out; }

@keyframes movesFromRight {
  from {
    opacity: 0;
    transform: translateX(80%); }
  to {
    opacity: 1;
    transform: translateX(0%); } }
@keyframes scaleDown {
  to {
    opacity: 0;
    transform: scale(0.9); } }
.scale-enter,
.scale-exit {
  position: relative; }

.scale-enter-active {
  animation: movesFromRight 750ms both ease;
  z-index: 2; }

.scale-exit-active {
  animation: scaleDown 750ms both ease;
  z-index: 1; }

.AppRouterParent {
  overflow-x: hidden; }

.ScreenTransitionParent {
  min-height: calc(100vh - 40px);
  background: #ebedf3; }

.ScreenTransitionWrapper {
  position: relative;
  perspective: 1200px;
  background: #ebedf3;
  min-height: calc(100vh - 48px);
  margin-top: -2px;
  width: 100%; }

.ScreenWrapper {
  position: absolute;
  min-height: calc(100vh - 100px);
  width: 100%;
  top: 50px;
  left: 0;
  background: #ebedf3; }

.Navbar {
  background: transparent;
  height: 50px;
  z-index: 10;
  width: 100%;
  position: relative; }

.Navbar__Wrapper {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-end; }

.Navbar__Logo {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  height: 85px;
  width: 85px;
  border: 1px solid #e35f5f;
  background: #e35f5f;
  color: white;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end; }

.Navbar__NavLink {
  background: transparent;
  border: transparent;
  transition: all 100ms ease-in-out;
  position: relative; }

svg.Navbar__Underline {
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 0%;
  height: 5px;
  stroke: #e35f5f;
  stroke-width: 5;
  transition: all 700ms ease-in-out; }

.Navbar__NavLink.active svg.Navbar__Underline {
  width: 100%; }

.Subscription {
  width: 100%;
  margin: 1rem auto;
  border: 1px solid #8bc743;
  padding: 2rem;
  background: #8bc743;
  color: #fff; }
  .Subscription p {
    margin-bottom: 1rem; }

.Subscription-Wrapper {
  width: 100%;
  border: 3px solid #ccc;
  position: relative; }

.Subscription-Input {
  width: 70%; }
  .Subscription-Input:focus {
    outline: 0 0 5px 7px rgba(255, 0, 0, 0.25); }

.Subscribe-Button {
  width: 30%;
  position: absolute;
  right: 0;
  background: #e35f5f;
  color: white;
  transition: width 400ms ease-in-out; }
  .Subscribe-Button svg {
    margin: 0;
    margin-left: -1rem;
    opacity: 0;
    transition: all 450ms ease-in-out; }
  .Subscribe-Button:hover {
    width: 35%;
    background: #dd4040;
    color: white; }
    .Subscribe-Button:hover svg {
      opacity: 1;
      margin-left: 1rem; }

.Home {
  padding: 1rem 0; }

.Home__Header {
  width: 100%;
  margin: 0 auto; }

.Home__Intro {
  width: 100%;
  margin: 0 auto 2rem; }

.Home__Tech-Stack {
  width: 100%;
  margin: 1rem auto; }

.Home__Tech-Icons-Wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center; }

.Home__Tech-Icon {
  margin: 1rem 0;
  margin-right: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .Home__Tech-Icon svg {
    margin-bottom: 1rem;
    height: 64px;
    width: 64px; }
  .Home__Tech-Icon:last-child {
    margin-right: 0; }

.Home__Sample-Projects {
  width: 100%;
  margin: 1rem auto; }
  .Home__Sample-Projects p {
    margin-bottom: 1rem; }

.Projects__Header {
  margin-bottom: 2rem; }

.Projects__Searchbar {
  height: 100px;
  overflow: hidden; }

.Projects__Searchbar-Wrapper {
  height: 100%; }

.Projects__Searchbar-Input {
  width: 100%;
  border: 1px solid #ccc;
  background: #e35f5f;
  position: relative; }
  .Projects__Searchbar-Input input {
    width: calc(100% - 3.4rem); }

.Projects__Search-Button {
  position: absolute;
  top: 0;
  right: 0; }

.Projects__ProjectsList {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap; }

.ProjectSingle {
  padding: 1rem 0; }

.ProjectSingle__FlexWrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start; }

.ProjectSingle__Main {
  flex-basis: calc(60% - 2rem);
  margin-right: 1rem; }
  .ProjectSingle__Main img {
    width: 100%;
    height: auto; }

.ProjectSingle__Image-Array {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: nowrap; }

.ProjectSingle__Image-Small {
  flex-basis: calc(32.5%);
  margin: 0.5rem 0;
  cursor: pointer; }
  .ProjectSingle__Image-Small img {
    height: 120px;
    width: 100%; }

.ProjectSingle__Sidebar {
  flex-basis: calc(40% - 2rem);
  margin-left: 1rem; }

.ProjectSingle__Sidebar {
  padding: 0 1rem; }
  .ProjectSingle__Sidebar li {
    margin-bottom: 1rem;
    color: rgba(0, 0, 0, 0.7);
    list-style-type: disc; }

.Project {
  height: 350px;
  flex-basis: calc(50% - 2rem);
  border: 1px solid #ccc;
  margin: 0 1rem 1rem;
  position: relative;
  text-align: center;
  overflow: hidden;
  border-radius: 4px;
  box-shadow: 0 3px 7px 3px rgba(0, 0, 0, 0.125);
  transition: all 400ms ease-in-out; }
  .Project:nth-child(2n + 1) {
    margin-left: 0;
    margin-right: 1rem; }
  .Project:nth-child(2n) {
    margin-right: 0;
    margin-left: 1rem; }
  .Project:hover {
    box-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.125); }
    .Project:hover .Project-Cover {
      top: 0%; }
    .Project:hover .Project-Caption {
      bottom: -41px; }

.Project-Cover {
  background-color: #e98181;
  color: white;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 350px;
  padding: 1rem;
  z-index: 3;
  transition: top 400ms ease-in-out;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  .Project-Cover h4 {
    line-height: 40px;
    justify-self: flex-start; }
  .Project-Cover p {
    margin-bottom: 2rem; }
  .Project-Cover a {
    padding: 0.5rem 1rem;
    border: 2px solid white;
    color: white;
    background: transparent;
    width: 150px;
    transition: all 400ms ease-in-out; }
    .Project-Cover a svg {
      margin-left: -1rem;
      opacity: 0;
      transition: all 450ms ease-in-out; }
    .Project-Cover a:hover {
      width: 175px; }
      .Project-Cover a:hover svg {
        margin-left: 1rem;
        opacity: 1; }

.Project-Image {
  height: 100%;
  background-size: 100% 100%;
  background-position: center center;
  background-color: rgba(0, 0, 0, 0.25);
  background-blend-mode: multiply; }
  .Project-Image img {
    height: 100%;
    width: 100%;
    vertical-align: middle; }

.Project-Caption {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  line-height: 40px;
  z-index: 4;
  text-align: center;
  background-color: white;
  transition: all 300ms ease-in-out; }
  .Project-Caption p {
    line-height: 40px;
    color: rgba(0, 0, 0, 0.7); }

/*# sourceMappingURL=main.css.map */
